.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column;
}

.countdownSection {
  flex: 1;
  display: grid;
  gap: 6.25rem;
  align-content: center;
  padding-bottom: 2rem;
}

@media (max-width: 482px) {
  .countdownSection {
    grid-template-rows: 1fr 1fr;
  }
}

@media (min-width: 483px) {
  .countdownSection {
    grid-template-columns: 1fr 1fr;
  }
}